<div th:insert="blocks/head.html"></div>
<body>
<div class="container mt-5 mb-5">
    <div th:each="el : ${post}" class="mt-5">
        <h1 th:text="${el.title}" class="mt-3 mb-3"/>
        <div th:if="${el.fileName!= null}">
            <img th:src="@{/img/{fileName}(fileName = ${el.fileName})}">
        </div>
        <p th:text="${el.full_text}"/>
        <div>
            <p class="d-inline-block"><b>Автор: </b><span th:text="${el.AuthorName}"/></p>
            <p class="d-inline-block ml-10"><b>Просмотры: </b><span th:text="${el.views}"/></p>
        </div>
        <div>
            <p class="d-inline-block"><b>Дата: </b></p>
        </div>

        <div>
            <a th:href="'/blog/' + ${el.id} +'/edit'" class="btn btn-warning d-inline-block">Редактировать</a>
            <form th:action="'/blog/'+ ${el.id} +'/remove'" method="post" class="mt-2 mb-2 d-inline-block ml-10"
            >
                <button class="btn btn-warning">Удалить</button>
            </form>
        </div>
    </div>
</div>
<div th:insert="blocks/footer.html"></div>
</body>
</html>


