<div th:insert="blocks/head.html"></div>
<!--<body>-->
<!--<div class="container mt-5 mb-2">-->
<!--    <h1>Блог сайта</h1>-->
<!--    <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: end">-->
<!--        <form method="get" action="/blog" style="display: flex;flex-direction: column; height: ">-->
<!--            <div class="form-outline">-->
<!--                <p>Воспользуйтесь быстрым поиском статьи</p>-->
<!--            </div>-->
<!--                <div style="display: flex; flex-direction: row">-->
<!--                    <input th:value="${filter}" type="text" id="form1" name="filter"-->
<!--                           class="form-control max-width-700"/>-->
<!--                    <button type="submit" class="btn btn-primary" style="margin-left: 8px;">-->
<!--                        Поиск-->
<!--                    </button>-->
<!--                    <div style="display: flex; justify-content: space-between; width: 65%">-->
<!--                        <a href="/blog">-->
<!--                            <button th:action="'/blog'" class="btn btn-primary">-->
<!--                                Все статьи-->
<!--                            </button>-->
<!--                        </a>-->
<!--                        <a href="/blog/add">-->
<!--                            <button th:action="'/blog/add'" class="btn btn-primary">-->
<!--                                Создать статью-->
<!--                            </button>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
<!--        </form>-->
<!--    </div>-->
<!--    </div>-->


<!--    </div>-->
<!--    </div>-->
<body>
<div class="container mt-5 mb-2">
    <h1>Блог сайта</h1>
    <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: end">

            <div class="form-outline">
                <p>Воспользуйтесь быстрым поиском статьи</p>
                <form method="get" action="/blog" >
                <div>
                    <input th:value="${filter}" type="text" id="form1" style="max-width: 700px" name="filter"
                           class="form-control"/>
                    <button type="submit" class="btn btn-primary" style="margin-left: 8px;">
                        Поиск
                    </button>
                </div>
                </form>
            </div>


        <div class="form-outline" style="display: flex; justify-content: space-between; width: 65%">
            <a href="/blog">
                <button th:action="'/blog'" class="btn btn-primary">
                    Все статьи
                </button>
            </a>
            <a href="/blog/add">
                <button th:action="'/blog/add'" class="btn btn-primary" style="">
                    Создать статью
                </button>
            </a>
        </div>

    </div>
<div class="album-block">
    <div th:each="post : ${posts}" class="blog-cards">

            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                         th:src="@{/img/{fileName}(fileName = ${post.fileName})}"/>

                    <div class="card-body">
                        <h3 th:text="${post.title}"/>
                        <p class="card-text" th:text="${post.anons}"/>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a th:href="'/blog/' + ${post.id}">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Детальнее</button>
                                </a>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>
<div th:insert="blocks/footer.html"></div>
</div>
</body>



