<div th:insert="blocks/head.html"></div>
<body>
<div class="container mt-5 mb-2">
    <h1>Список пользователей</h1>
    <table>
        <thead>
        <tr>
            <th>Имя</th>
            <th>Роль</th>
            <th></th>
        </tr>
        </thead>
        <tbody th:each="user:${users}">
        <tr>
            <td th:text="${user.username}"></td>
            <td th:text="${#strings.setJoin(user.roles, ',')}"></td>
            <td><a th:href="'/user/' + ${user.id}">Редактировать</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>



