<div th:insert="blocks/head.html"></div>
<body>
<div class="container mt-5 mb-2">
    <h1>Редактирование пользователя</h1>
    <form action="/user" method="post" class="container mt-5 mb-5">
        <div class="d-flex flex-row">
            <div class="d-flex flex-column width-300">
                <label>Логин</label>
                <input th:value="${user.username}" type="text" name="username" class="form-control mt-2"/>
            </div>
            <div class="d-flex, flex-column, ml-30">
                <label>Права</label>
                <div class="d-flex flex-row, align-items-center, height-50">
                    <div th:each="role:${roles}">
                        <input th:name="${role}" th:text="${role}"
                               th:checked="${user.roles.contains(role)}" type="checkbox"
                               class="mt-2"/>
                    </div>
                </div>
            </div>
            <input type="hidden" th:value="${user.id}" name="userId"/>
        </div>
        <button type="submit" class="btn btn-success mt-2">Сохранить</button>
    </form>
</div>
</body>



